<div>
    <h1>{{assignment.name}}</h1>
    <p>Prompt: {{assignment.description}}</p>
    {{#if isTeacher}}
        <table>
            <tr>
                <td>
                    <label>Due Date:</label>
                </td>
                <td colspan="2">
                    <span>{{assignment.dueDate}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Grade:</label>
                </td>
                <td>
                    <input id="grade" type="number" pattern="[0-9|.]{3}" value="{{submission.grade}}">
                </td>
                <td>
                    <button class="customButton" id="update-grade" onclick="grader({{class.id}}, {{assignment.id}}, {{student}})">Update</button>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    {{#if submission.submission}}
                        <div>Current Submission: <a href="/class/{{class.id}}/{{assignment.id}}/{{student}}">{{submission.submission.originalname}}</a></div>
                    {{/if}}
                </td>
            </tr>
            <tr>
                <td>
                    <label>Submission date:</label>
                </td>
                <td>
                    <span>{{submission.submissionDate}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Comment:</label>
                </td>
                <td>
                    <textarea id="teacher-comment">{{submission.teacherResponse}}</textarea>
                </td>
                <td>
                    <button class="customButton" id="update-teacher-comment" onclick="comment({{class.id}}, {{assignment.id}}, {{student}})">Update</button>
                </td>
            </tr>
        </table>
        <script src="/public/js/grade.js"></script>
    {{else}}
    <table>
        {{#if submission}}
            <tr>
                <td>

                    <div>Current Submission: <a href="/class/{{class.id}}/{{assignment.id}}/{{student}}">{{submission}}</a></div>

                </td>
            </tr>
            <form method="PUT" action="/class/{{class.id}}/{{assignment.id}}" enctype="multipart/form-data">
                <tr>
                    <td>
                        <label for="file-selector">Select a file to Submit: </label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="file" name="submission" id="file-selector">
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit" class="customButton">Submit</button>
                    </td>
                </tr>
            </form>
        {{else}}
            <form method="POST" action="/class/{{class.id}}/{{assignment.id}}" enctype="multipart/form-data">
                <tr>
                    <td>
                        <label for="file-selector">Select a file to Submit: </label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="file" name="submission" id="file-selector">
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit" class="customButton">Submit</button>
                    </td>
                </tr>
            </form>
        {{/if}}
    {{/if}}
    <tr>
        <td >
            <a href="/class/{{class.id}}" class="customButton">Back</a>
            <a href="/logout"  class="customButton">Logout</a>
        </td>
    </tr>
</table>
</div>
