{{#if isStudent}}
    <div id="student">
        <h1>{{class.name}}</h1>
        <ul id="assignment-list">
            {{#each assignments}}
                <li class="assignment"><a href="/class/{{../class.id}}/{{id}}">{{assignmentName}} {{dueDate}} {{grade}}</a></li>
            {{/each}}
        </ul>
    </div>
{{else}}
    <div id="teacher">
    <table>
        <tr>
            <th></th>
            {{#each assignments}}
                <th>{{name}}</th>
            {{/each}}
        </tr>
        {{#each students}}
            <tr>
                <td>{{name}}</td>
                {{#each assignments}}
                    <td>{{this}} <a href="/class/{{../../class.id}}/{{@index}}?student={{../_id}}">*</a></td>
                {{/each}}
            </tr>
        {{/each}}
    </table>
        <a href="/class/{{class.id}}/assignment">Create an assignment</a>
        <a href="/class/{{class.id}}/announcement">Create an announcement</a>
    </div>
{{/if}}
<div id="announcements">
    {{#each announcements}}
        <div>
            <h1>{{name}}</h1>
            <p>{{description}}</p>
        </div>
    {{/each}}
</div>
<a href="/class">back</a>
